*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilços para o cabeçalho*/
header {
    background-color: #42494e;
    color: white;
    text-align: center;
    padding: 16px;
    /* Cor de fundo clara */
}

/*estilçoes para o body */
body {
    font-family: Arial, sans-serif;
    /* fonte de toda pagina */
    /* espaçamento interior  */
    background-color: #f4f4f4;
    /* Cor de fundo clara */
    color: #333;
    /* Cor do texto escura */
}

footer {
    background-color: #cac48b;
    /* Cor de fundo clara */
    color: rgb(207, 187, 187);
    text-align: center;
    position: relative;
    color: #310b0b;
    padding: 1em;
    bottom: 0;
    width: 95%; 
    border-radius:15px;
    margin: 0 auto; /* Centraliza o footer na página */
    font-size: 0.9em;
    /* fonte de toda pagina */
    font-family: Arial, sans-serif;
}

/*estilos para as seçoes*/
section {
    background-color: wheat;
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0px 2px 4px black;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Usando DISPLAY FLEX flexbox para layout horizontal */
}
nav ul li {
    flex: 1;
    text-align: center;
}
nav ul li a { /* CORES -- SOBRE CONTATO LINKS  HOME  */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav ul li a:hover {
    background-color: #97973f;
    /* Cor de fundo ao passar o mouse */
    border-radius: 5px;
}
div {
  text-align: center;
}

.servicos h2{
    margin: 1.5em;
    padding: 1.5em;
}